---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - krm.kcl.dev
  resources:
  - kclruns
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - krm.kcl.dev
  resources:
  - kclruns/finalizers
  verbs:
  - update
- apiGroups:
  - krm.kcl.dev
  resources:
  - kclruns/status
  verbs:
  - get
  - patch
  - update
