name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    name: "Build & Test"
    if: "!contains(github.event.head_commit.message, '[ci skip]')"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - uses: engineerd/setup-kind@v0.5.0
        with:
          version: "v0.11.1"

      - name: Kubernetes Testing
        run: |
          kubectl cluster-info
          kubectl get pods -n kube-system
          echo "current-context:" $(kubectl config current-context)
          echo "environment-kubeconfig:" ${KUBECONFIG}

      - name: Project Build & Check
        run: make

      - name: Run e2e tests
        run: ./scripts/deploy_test.sh
